body {
    margin: 0;
    padding: 0;
    background-image: url(images/wood.jpg);
}

header {
    background-image: url('images/Greenleaf.png');
    padding: 20px 0;
    width: 100%;
    height: 35%;
    position: static;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    font-family: "pinecone-mvb-rough2-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #fff;
    margin-bottom: 5%;
}
.navbar-container {
    position: sticky;
    overflow: visible;
    z-index: 100;
    top: 0;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(69, 191, 85, 0.9);
}

.navbar {
    display: flex;
    justify-content: right;
}

.navbar a {
    display: flex;
    padding: 14px 16px;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(22, 128, 57, 0.9);
    color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.headline { 
    font-family: "pinecone-mvb-rough2-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(22, 128, 57, 0.6);
}
.main-content p, .main-content h2, .main-content h3 {
    opacity: 0.25;
    animation: fadeIn 2s forwards;
}

.container {
    color: #fff;
    text-align: center;
    max-width: 1200px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.textcontent {
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    text-align: center;
    background-image: url(images/Greenleaf.png);
    background-color: #2C372E;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.carousel-item {
    position: relative; 
    display: none;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    height: auto;
}

.carousel-images img {
    width: 100%;
    display: block;
}

.caption {
    display: block; 
    position: absolute;
    bottom: 0;
    width: 100%; 
    padding: 10px; 
    transform: none;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(233, 241, 232, 0.4);
}

.carousel-item.active:first-child {
    display: block;
}

.prev {
    left: 0;
} 

  .next {
    right: 0;
}

.dots {
    text-align: center;
    padding: 10px 0;
}

.dots span {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #1a1818;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots span.active {
    background-color: #717171;
}
.fade-in {
    animation: fadeIn 2s;
    font-family: "pinecone-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
  
@keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    100% {opacity: 1;}
}
@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 100px;
        height: 100px;
    }
    
    h1 {
        font-size: 2em;
        margin-bottom: 3%;
    }
    
    .textcontent {
        margin-left: 10%;
        margin-right: 10%;
    }
    .carousel {
    max-width: 100%;
    }
    .carousel-images {
        display: flex;
        overflow: hidden;
        height: auto;
    }
}
@media only screen and (max-width: 400px) {
    /* Styles for screens smaller than 400px */
    .header-content {
        padding: 10px 0;
    }
    
    h1 {
        font-size: 1.5em;
        margin-bottom: 2%;
    }
    
    .textcontent {
        margin-left: 5%;
        margin-right: 5%;
    }
    .carousel {
    max-width: 100%;
    }
    .carousel-images {
        display: flex;
        overflow: hidden;
        height: auto;
    }
}
